Merging and Exporting Data

This script includes the following points:

Step 3. Import the data.

Step 4. Check the Output of Dataframes.

Step 5. Merge df_prods with df_ords_combined.

Step 6. Confirm the results of the merge using the merge flag.

Step 7. Export the file.

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [10]:
# string
path =r'/Users/juliapetke/Desktop/Career Foundry/Instacart Basket Analysis'


3 Import Data

In [71]:
# import of orders_products_combined_pickle
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [81]:
# import of Products data 
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_new.csv'), index_col = False)


4 Check Output of Dataframe

In [73]:
df_orders_products_combined.shape

(32434489, 10)

In [75]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [83]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3


5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [111]:
# Merge the DataFrames with a different indicator column name
df_merged = df_prods.merge(df_orders_products_combined, on='product_id', indicator='merge_indicator')

In [113]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both



6 Confirm the results of the merge using the merge flag.

In [115]:
df_merged

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,9,5.0,27,0,both,both
32434208,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,1,4,11,0.0,5,0,both,both
32434209,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,8,15.0,12,0,both,both
32434210,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,15,5.0,11,1,both,both
32434211,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,15,6.0,35,0,both,both

In [117]:
df_merged['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64



7 Export the file.

In [119]:
#Export orders_products_merged file
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))